.swiper {
    width: 100vw;
    height: 60vh;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 80% 100%; */
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }